.footer p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
  text-align: center;
  color: var(--color-foam);
}

.footer {
  width: 100vw;
  background-color: var(--color-granite);
  position: fixed;
  bottom: 0;
}
